---
import {Image} from "astro:assets"


interface Props {
    height: number;
    width: number;
    src: string;
    top?: number;
    left?: number;
    right?: number;
    scale?: number;
    rotate?: number;
}

const { height, width, src, top, left, right, scale, rotate }: Props = Astro.props

let imgstyle = `scale: ${scale ?? 1};`
imgstyle += `transform: rotate(${rotate ?? 0}deg);`
let move = left ? `left: ${left}rem;` : ""
move += right ? `right: ${right}rem;` : ""

---

<div style=`top: calc(${top ?? 1} / ${height * (scale ?? 1)} * 100%);  height: 0px; min-width: ${width * (scale ?? 1)}1px; ${move}`>
    <Image src={src} height={height} width={width}  alt="" class="gradient" style={imgstyle}/>
</div>

<style>

    div {
        position: absolute;
        z-index: -1;
        overflow: visible;
        opacity: 0.8;
    }

</style>



